html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tldraw {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.p-md {
  padding: 12px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.color-dodgerblue {
  color: dodgerblue;
}

.absolute {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 40px;
}
